<img class="banner" style="cover" src="https://images.stockcake.com/public/3/1/7/317bd95a-715e-4930-903a-4c552bf84953_large/vintage-cinema-interior-stockcake.jpg" alt="">

<div class="m-3">
  <h1 class="text-center text-decoration-underline">Films lists</h1>

  <div class="cards mt-3">
    <% @lists.each do |list| %>
      <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= list.image_url %>');">
        <h4><%= link_to list.name, list_path(list) %></h4>
      </div>
    <% end %>
  </div>
</div>
