// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "card";
@import "banner";
@import "movies_cards";
@import "stars";
@import "buttons";
@import "badge";
@import "icon";
@import "poster"
